@import "base";

.blog-time{
  font-size: 75%;
  margin-bottom: 10px;
}
.blog-title{
  margin-bottom: 0;
}
.next-pre{
  grid-column: 2 / 3;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  a{
      color: $textColor;
  }
}
.next-pre .next-button{
  font-size: 90%;
  text-decoration: none;
}
.next-button {
  background-color: transparent;
  margin: 0 10px;
  padding:0 20px;
  border: 1px solid $textColor;
  border-radius: 25px;
}
.audiodiv{
    margin-top: 30px;
    audio{
        margin-right: 20px;
    }
    p{
        font-size: .95rem;
        margin-top: 0;
    }
}
.share{
    margin-top: 30px;
    div{
        margin-bottom: 50px;
        width: 150px;
        height: 3px;
        background-color: lightblue;
    }
}
audio{
    color : $menuColor;
}
.lastline{
  text-transform: uppercase;
  font-weight: 600;
}



@media (min-width: 520px){
    .audiodiv {
    display: flex;
    align-items: center;
    p{
        margin-top: 20px;
    }
}
}
